@import url('https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

/*@font-face {
    font-family: Space Mono;
    src: url('/tip-calculator-app-main/font/Space_Mono/SpaceMono-Regular.ttf');
}*/

*{ 
    margin: 0;
    font-family: Space Mono;
}

body{
    box-sizing: border-box; 
}

#splitter{
    letter-spacing: 0.5rem;
    text-transform: uppercase;
    text-align: center;
    margin-top: 2rem;
    font-size: 24px;
    font-weight: 700;
    color: hsl(186, 14%, 43%);
}

#splitter::after{
    content: "TTER";
    display: block;
    font-size: 24px;
    margin-bottom: 3rem;
}

.main{ 
    display: grid;
    place-self: center;
    width: 70vw;
    min-height: 100vh;
    margin: 5rem;
    position: relative;
    background-color: hsl(185, 41%, 84%);
    box-shadow: 5px 5px 15px hsl(184, 68%, 88%);
    
}

section{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    top: 55%;
    left: 50%;
    padding: 2rem;
    border-radius: 10px;
    transform: translate(-50%, -50%);
    background-color: hsl(0, 100%, 100%);
    width: 45vw;
    box-shadow: 5px 5px 15px hsl(186, 22%, 82%);
}

.Tipform {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 18vw;
}

.number{
    height: 2.4rem;
    width: 18vw;
    border-radius: 5px;
    background-color: hsl(189, 47%, 97%);
    border: 2px solid transparent;
    outline: none;
    text-align: right;
    padding-right: 12px;
    color: hsl(183, 100%, 15%);
    font-weight: 700;
    font-size: 18px;

}
.number::-webkit-inner-spin-button{
    -webkit-appearance: none;
}

.number:focus {
    border-color: hsl(172, 67%, 45%);
    cursor: pointer;
}
.number::placeholder{
    color: hsl(184, 14%, 56%);
}

.amountCont {
    position: relative;
    width: 3rem;
    margin-bottom: 1rem;
}

.amountCont .icon {
    position: absolute;
    left: 20px;
    top: 50%;
    transform: translateY(-50%);
    pointer-events: none;
}

#bill, #select, #people {
    color: hsl(183, 100%, 15%);
}

#people{
    margin-top: -1rem;
}

.button{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 1rem;
    margin-top: 1rem;
}

.tip, .custom{
    font-weight: 700;
    font-size : 16px;
    border-radius: 5px;
    border: none;
    box-shadow: 3px;
    cursor: pointer;

}

.tip{
    background-color: hsl(183, 100%, 15%);
    color: hsl(0, 100%, 100%);
    width: 5.5vw;
}

.custom, .custom:focus{
    background-color:  hsl(189, 47%, 97%) ;
    color:hsl(183, 100%, 15%);
    font-size: 14px;
    outline: none;
    padding: 0.5rem;
    width: 4.4vw;
}

.custom::-webkit-inner-spin-button{
    -webkit-appearance: none;
}


.tip:focus {
    background-color: hsl(172, 67%, 45%);
    color:hsl(183, 100%, 15%);
}

.figure {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: space-between;
    background-color:hsl(183, 100%, 15%);
    width: 21vw;
    height: 22vw;
    border-radius: 10px;
    padding: 1.3rem;
}

.tip-amt {
    color:hsl(172, 67%, 45%);
    font-weight: 700;
    font-size: 19px;
    margin-left: 3rem;
}

p{
    color:hsl(0, 100%, 100%) ;
}

.mytip{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    margin-bottom: 1.5rem;

}

.amt {
    font-size: 16px;
    font-weight: 400;
}

small {
    display: block;
    color:hsl(184, 14%, 56%);
    font-size: 12px;
    font-weight: 400;
}

#reset {
    background-color: hsl(172, 67%, 45%);
    color: hsl(183, 100%, 15%);
    width: 18.5vw;
    height: 2.5rem;
    align-self: center;
    margin-top: 5rem;
    text-transform: uppercase;
    border-radius: 5px;
    font-size: 18px;
    font-weight: 700;
    border: none;
}

#reset:focus {
    background-color: hsl(186, 14%, 43%);
    cursor: pointer;
    color: hsl(183, 100%, 15%);
}

#billerror, #peopleerror {
    color : tomato;
    font-size: 11px;
    font-weight: 400;
    
}

@media(max-width: 850px){
    body{
        overflow-x: hidden;
    }

    .main {
        margin: 0;
        width: 100vw;
        position: relative;
        background-color: hsl(185, 41%, 84%);
        box-shadow: 5px 5px 15px hsl(190, 8%, 85%);
    }

    #splitter{
        margin-top: 3.5rem;
    }
    section {
        position: absolute;
        top: 80%;
        width: 95vw;
        height: 100vh;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        border-radius: 55px;
}

    .Tipform, .number, .button{
        width: 75vw;
        margin-right: 1rem;
    
}
    .number {
        height: 3rem;
}

.figure {
    margin-top: 1rem;
    width: 70vw;
    height: 15rem;
}

#reset {
    margin-top: 3.5rem;
    width: 70vw;
    height: 3rem;
}

.tip{
    width: 23.5vw;
}
.custom {
    width: 20vw !important;
}
}